/*External Style Sheet for John's Place Restaurant Site*/

.header {
	text-align: center;	
	font-family: Comic Sans MS;
	background-color: rgb(189, 255, 155);
}
.navTable{
	width: 1500px;
	font-family: Comic Sans MS;
	text-align: center;
	background-color: rgb(189, 226, 213);
}
.bodyTable{
	width: 1500px;
	font-family: Comic Sans MS;
	text-align: center;
	border: 0px;
	background-color:rgb(226, 255, 155)
}

.bodyTablePri{
	width: 1500px;
	font-family: Comic Sans MS;
	text-align: center;
	border: 0px;
	background-color:rgb(226, 255, 155)
}

.bodyTableSec{
	width: 1500px;
	font-family: Comic Sans MS;
	text-align: center;
	border: 0px;
	background-color:rgb(226, 255, 235)
}
.pageFooter{
	width: 1500px;
	font-family: Comic Sans MS;
	text-align: center;
	background-color:rgb(189, 255, 155)	
}
